[Unit]
Description=Send to telegram

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=/home/{{ansible_user}}/script/tele.start.sh
ExecStop=/home/{{ansible_user}}/script/tele.stop.sh

[Install]
WantedBy=multi-user.target
