[Unit]
Description=Send to telegram

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=/home/{{ansible_user}}/script/{{ip_type}}.start.sh
ExecStop=/home/{{ansible_user}}/script/{{ip_type}}.stop.sh

[Install]
WantedBy=multi-user.target
