---

- hosts: all
  become: yes

  ## Add your data
  vars:
          user_name: ""
          key_path: ""

  tasks:

  - name: Add user to remote hosts
    user: name={{user_name}} shell=/bin/bash

  - name: Add SSH keys to remote hosts
    authorized_key: user={{username}} key="{{ lookup('file', "{{key_path}}/id_rsa.pub") }}"

  - name: Add user to sudo
    template:
      src: /etc/ansible/common/files/sudoers
      dest: /etc/sudoers.d/01-ansible
      mode: 0444

